<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>Login Page</title>
</head>

<body>
    <h1 class="header">Login</h1>
    <hr class="hr">
    <div class="page-content">
        <a href="/physician">
            <input type="button" class="btn" value="Physician Login">
        </a>
        <a href="/patient">
            <input type="button" class="btn" value="Patient Login">
        </a>
    </div>
</body>

</html>