<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <title>Patient Daily Health Survey</title>
</head>

<body>
    <h1 class="header">Welcome to Daily Health Survey</h1>
    <p class="description">Create a survey for patients!</p>
    <hr class="hr">
    <div class="survey-container page-content">
        <% surveys.forEach((survey)=> { %>
            <div class="survey-block">
                <label for="edit/delete">
                    <h3>
                        <%= survey.name %>
                    </h3>
                </label>
                <form action="/assign" method="POST" class="inline-form">
                    <input type="hidden" id="follow" name="name" value="<%= survey.name %>" />
                    <% if(survey.assigned) { %>
                        <button class="btn" type="submit">Unassign</button>
                        <% } else { %>
                            <button class="btn" type="submit">Assign</button>
                            <% } %>
                </form>
                <br><br>
                <form action="/edit" method="GET" class="inline-form">
                    <input type="hidden" id="edit" name="name" value="<%= survey.name %>" />
                    <button class="btn" type="submit">
                        Edit
                    </button>
                </form>
                <form action="/delete" method="POST" class="inline-form">
                    <input type="hidden" id="delete" name="name" value="<%= survey.name %>" />
                    <button class="btn" type="submit">
                        Delete
                    </button>
                </form>
            </div>
            <% }); %>
                <div class="create-block">
                    <form action="/create" method="GET" class="inline-form">
                        <input type="text" id="create" name="name" />
                        <br class="input-break">
                        <button class="btn" type="submit">
                            Create a new survey!
                        </button>
                    </form>
                </div>
    </div>
    <div class="page-buttons">
        <a href="/">
            <input type="button" class="btn" value="Logout">
        </a>
    </div>
</body>

</html>